@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/josefin-slab/400.css";
@import "@fontsource/josefin-slab/600.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Product grid */
  .auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  .text-xxs {
    font-size: 0.65rem;
  }

  .min-h-20 {
    min-height: 5rem;
  }
}

@layer base {
  h1 {
    @apply font-heading;
  }

  h2,
  h3,
  h4,
  button {
    @apply font-body;
    @apply font-semibold;
  }

  h1,
  h2,
  h3,
  h4,
  a {
    @apply text-gray-900;
  }

  p {
    @apply text-gray-700;
  }

  p,
  li,
  a {
    @apply font-body;
  }

  html {
    -webkit-tap-highlight-color: transparent;
  }

  button {
    @apply focus:outline-none;
  }

  /* Remove number input arrows */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}
