@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/josefin-slab/400.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  .slick-slider {
    display: flex !important;
    flex-direction: row-reverse;
    gap: 2rem;
  }

  .slick-dots {
    position: relative !important;
    bottom: 0 !important;
    display: flex !important;
    width: auto !important;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }

  .slick-dots li {
    width: 5rem !important;
    height: 5rem !important;
  }

  .slick-arrow {
    display: none !important;
  }

  .slick-list {
    width: 100%;
    max-width: 32rem;
  }
}

@layer base {
  h1 {
    @apply font-heading;
  }

  h2,
  h3,
  h4,
  button {
    @apply font-body;
    @apply font-semibold;
  }

  p,
  li,
  a {
    @apply font-body;
  }
}
