@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/josefin-slab/400.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Product grid */
  .auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  /* Overwrite slick slider css */
  .slick-slider {
    display: flex !important;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .slick-dots {
    position: relative !important;
    bottom: 0 !important;
    display: flex !important;
    width: auto !important;
    justify-content: center;
    gap: 0.25rem;
    margin: 0 !important;
  }

  .slick-dots li {
    width: 3.5rem !important;
    height: 3.5rem !important;
  }

  .slick-arrow {
    display: none !important;
  }

  .slick-list {
    width: 100%;
    max-width: 35rem;
    margin: 0 auto;
  }

  .slick-active button div {
    border-color: #000;
  }

  @media (min-width: 1024px) {
    .slick-slider {
      flex-direction: row-reverse;
      gap: 2rem;
      justify-content: flex-end;
    }

    .slick-dots {
      flex-direction: column;
      justify-content: center;
      gap: 0.5rem;
    }

    .slick-dots li {
      width: 5rem !important;
      height: 5rem !important;
    }
  }
}

@layer base {
  h1 {
    @apply font-heading;
  }

  h2,
  h3,
  h4,
  button {
    @apply font-body;
    @apply font-semibold;
  }

  p,
  li,
  a {
    @apply font-body;
  }
}
